<!--<form action="/articles" method="post">
    <div>
    title: <input type="text" name="title" >
    </div>
    <div>
    body: <textarea name="body"></textarea>
    </div>
    
    <button>submit</button>
</form>-->

<h1>New Article</h1>
<%= render "form", article: @article %>